body{
    font-size: 100%;
    background: lightyellow;
    font-fam ily: 'Gilda Display', sans-serif;
}
a {
  text-decoration:none;
}

cite{
    font-style: normal;
}
p {
    color: #333;
    font-size: 1em;
    font-family: inherit;
    line-height: 145%;
    margin-bottom: 0;
}

button {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    cursor: pointer;
    border:none;
    min-width: 5em;
    min-height: 2em;
    padding:1em;
    transition: background-color 300ms ease-out 0s;
}

.button-right{
    float:right;
    margin-bottom:2em;
}


.button-left{
    float:left;
    margin-bottom:2em;
}

.container{
    width: 90%;
    padding: .625em 1.0548523% 1.5em;
    margin-left: 0 auto;
}

button:hover {
    border: none;
    background:red;
    box-shadow: 0 0 1px #777;
}

.index{
    margin-top:6em;
}

.left{
    float:left;
}
.right{
    float:right;
    margin-right:2em;
}

p + p {
    text-indent: 1.3em;
    margin-top: 0;
}

section {
    margin-bottom:3%;
}

footer{
    margin-bottom:3%;
}

.star{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;

}

.text-left{
    text-align:left;
}

mark{
    background:lightyellow;
}


::selection {
    background: lightyellow; /* Safari */
}
::-moz-selection {
    background: lightyellow; /* Firefox */
}

blockquote{
    font-size: 1.2em;
    line-height: 140%;
}


h1 {
    color: #333;
    text-align:right;
    font-size: 2em;
    font-weight: normal;
    font-family: 'Josefin Sans', sans-serif;

}

.header-text{
    font-size:0.8em;
    color: #363636;
    background:white;
}

h2 {
    font-family: inherit;
    font-weight: 400;
}


body {
    font-family: 'Gilda Display', serif;
    background-color: #FFF;
    color:black;
    padding: 0;
    margin: 0 auto;
    width: 75%;
}



a {
    color:inherit;
}




@media all and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .container{
        width: 70%;
    }
}


@media all and (min-width: 1200px) {
.container article {
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari, Chrome */
    column-count: 2;
    -moz-column-gap: 2.5em; /* Firefox */
    -webkit-column-gap: 2.5em; /* Safari, Chrome */
    column-gap: 2.5em;

}

    /* Rubrik till vänster på skrivbordskärm*/
    h1{
        text-align:left;
    }
}